<th:block xmlns:th="http://www.thymeleaf.org">

 <div class="in-content">
	<div class="azbyka">
		<ul>
			
			
					<li th:each="l : ${azbuka}" style="display: inline">
					<a th:text="${l}" th:href="@{/persons(startletter=${l})}" style="text-decoration: none;"></a>
		</li>
		</ul>
	</div>
	
	<form class="person-search" action="/persons">
		<label for="FIOsearch"> Поиск по ФИО </label>
		<input type="search" name="startletter" id="FIOsearch" th:value="${startletter}">
		<select name="searchtype" >
			<option value="starts-with">с начала строки</option>
			<option th:attrappend="selected=${searchtype == 'contains'}?'selected'" value="contains">по подстроке</option>
		</select>
		
	<!--	<input type="submit" value="Поиск"> -->
		<button type="submit">
			<span class="material-icons md-29 white">search</span>
		</button>
	</form>
	
	<ul class="fio-results" th:each="res, iStat : ${humanPage.content}">
		<li class="search_result">
			<a class="result-header" th:text="${res.title}"
			th:href="@{'/persons/' + ${res.id}}" href="human.html">Посмотреть</a>			
		</li>
	</ul>
	
	<div class="pages">
		<div 
		th:if="${humanPage.totalPages > 0}" class="pagination"
			th:each="pageNumber : ${pageNumbers}">
			<a th:href="@{/persons(size=${humanPage.size}, page=${pageNumber}, searchtype=${searchtype}, startletter=${startletter})}"
				th:text=${pageNumber}
				th:class="${pageNumber==humanPage.number + 1} ? active"></a>
		</div>
	</div>
	
	
 </div>	

</th:block>
