<div class="in-content about">
	<p>Данный сайт позволяет просмотреть на карте места, связанные с жизненным путём новомучеников.</p>
	
	<p>Каждому событию сопоставляется метка того или иного цвета:</p>
	<ul>
		<li>красный - репрессии</li>
		<li>зелёный - места служения</li>
		<li>синий - места кончины</li>
		<li>серый - прочие</li>
	</ul>
	
	
	
	<p>При выборе определенной точки на карте открывается информационное окно с именем новомученика и 
	биографическими деталями, связанными с этим местом. Для чтения всей биографии следует перейти по ссылке «подробнее».
	</p>
		
	<p>При увеличении масштаба близкие метки объединяются в группу, отображаемую в виде круга.
	В центре круга отображается количество попавших в группу меток.</p>
	
	
	<p>В верхней части карты доступны фильтры по типам событий, а также годам.
	Параметр "без даты" управляет отображением на карте меток, соответствующих событиям без датировки.
	
	<p>Исходными данным проекта служат данные <a href="https://pstgu.ru/baza-dannykh-za-khrista-postradavshie/">
	электронного биографического справочника "За Христа пострадавшие"</a>.</p>
	
	 
	<p>Учебный проект ФИПМ ПСТГУ.</p>
	<p>По вопросам обращайтесь andse-t610@yandex.ru</p>
</div>