<th:block xmlns:th="http://www.thymeleaf.org">

	<h4>Persons:</h4>
	<div th:if="${humanPage.totalPages > 0}" class="pagination"
		th:each="pageNumber : ${pageNumbers}">
		<a
			th:href="@{/persons(size=${humanPage.size}, page=${pageNumber}, searchtype=${searchtype}, startletter=${startletter})}"
			th:text=${pageNumber}
			th:class="${pageNumber==humanPage.number + 1} ? active"></a>
	</div>

	<table class="persons">
		<thead>
			<tr>
				<!-- <th th:text="#{msg.id}" />
				<th th:text="#{msg.name}" /> -->
				<th>ID</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="human, iStat : ${humanPage.content}"
				th:style="${iStat.odd}? 'font-weight: bold;'"
				th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${human.id}" />
				<td th:text="${human.title}" />
				<td><a th:href="@{'/persons/' + ${human.id}}" href="human.html">Просмотреть</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<form action="/persons">
		<label for="startletter"> Поиск по ФИО </label>
		<input type="search" name="startletter" th:value="${startletter}">
		<select name="searchtype" >
			<option value="starts-with">с начала строки</option>
			<option th:attrappend="selected=${searchtype == 'contains'}?'selected'" value="contains">по подстроке</option>
		</select>
		
		<input type="submit" value="Поиск">
	</form>
	
	
	<div th:if="${humanPage.totalPages > 0}" class="pagination"
		th:each="pageNumber : ${pageNumbers}">
		<a
			th:href="@{/persons(size=${humanPage.size}, page=${pageNumber}, searchtype=${searchtype}, startletter=${startletter})}"
			th:text=${pageNumber}
			th:class="${pageNumber==humanPage.number + 1} ? active"></a>
	</div>

</th:block>
