<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta charset="utf8">
</head>

<body style="background:cornsilk" link="black">
	<h1 align="center"><em><strong> Новомученики </strong></em></h1>
	<img th:src="@{/img/N1.JPG}" alt="Новомученики" align="center">
	<h2 align="right">
		<form action="/search">
			<input name="q" placeholder="Поиск" th:attr="value=${q}">
			<input type="submit" value="Поиск">			
		</form></h2>
	<div th:replace="${view}"></div>
</body>
<!--
Вот так можно реализовать параметр по умолчанию - text 
<span th:text="${text}" th:with="text=${name}"/>
-->

</html>