<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Быстрый старт. Размещение интерактивной карты на странице</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script
	src="https://api-maps.yandex.ru/2.1/?apikey=4a43e1d4-0256-499a-8e1d-b8c839931fd8&lang=ru_RU"
	type="text/javascript">
	
</script>
<script type="text/javascript">
	ymaps.ready(init);
	function init() {
		var myMap = new ymaps.Map("map", {
		    center: [55.76, 37.64],
		    zoom: 10
		});
		// Создание геообъекта с типом точка (метка).
		var myGeoObject = new ymaps.GeoObject({
		    geometry: {
		        type: "Point", // тип геометрии - точка
		        coordinates: [55.8, 37.8] // координаты точки
		    }
		});

		// Размещение геообъекта на карте.
		myMap.geoObjects.add(myGeoObject);	
	}
</script>
</head>

<body>
	<div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>