<th:block xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
body {
	padding: 50px;
}

.persons, .persons td {
	border: 1px solid lightgray;
	padding: 5px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: blue;
	color: white;
	border-radius: 2px;
}
</style>

<form action="/search">
		<p>
			<strong>Введите запрос для полнотекстового поиска.</strong>
		</p>
		<p>
			<input name="q" size="40" placeholder="Поиск" th:attr="value=${q}">
			<input type="submit" value="Поиск">
		</p>
	</form>

	<div th:fragment="pages" 
	th:if="${humanPage.totalPages > 0}" class="pagination"
		th:each="pageNumber : ${pageNumbers}">
		<a th:href="@{/search(size=${humanPage.size}, page=${pageNumber}, q=${q})}"
			th:text=${pageNumber}
			th:class="${pageNumber==humanPage.number + 1} ? active"></a>
	</div>
	
	
	

	<ul th:each="res, iStat : ${humanPage.content}">
		<li><a th:text="${res.human.fio}"
			th:href="@{'/persons/' + ${res.human.id}}" href="human.html">Посмотреть</a>
			<br>
			<p th:text="${res.textSnippet}">
			</p>
		</li>
	</ul>
	
	<div th:replace=":: pages"></div>

	<div>
		<p>
			<a th:href="@{/}" th:text="home"></a>
		</p>
	</div>
</th:block>


