<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Person page</title>
<style type="text/css">
body {
	padding: 50px;
}

label {
	display: inline-block;
	width: 100px;
}

input:read-only {
	background: lightgray;
}

.row {
	margin-top: 10px;
}
</style>
</head>
<body>

	<form action="/search">
		<p>
			<strong>Введите запрос для полнотекстового поиска.</strong>
		</p>
		<p>
			<input name="q" size="40" placeholder="Поиск" th:attr="value=${q}">
			<input type="submit" value="Поиск">
		</p>
	</form>

	<ul th:each="human : ${persons}">
		<li><a th:text="${human.fio}"
			th:href="@{'/persons/' + ${human.id}}" href="human.html">Посмотреть</a>
		</li>
	</ul>


</body>
</html>
