@font-face {
	font-family: Gabriola;
	src: url(/fonts/Gabriola.ttf); 
}

body {
	padding: 0px;
	background: cornsilk;
	margin: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: serif;
    font-size: 12pt;
}
a {
	color:black;
}
.search-box{
	float: right;
	display: inline-block;
	margin: 0px;
	padding: 12px;
}

.menu{
	margin: 0px;
	padding: 5px;
	float:left;
}

.menu ul{
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.menu li {
    display: inline-block;
    width: 160px;
    border: 1px solid rgb(197 164 77);
    text-align: center;
    font-size: 27px;
    background-color: #7b684b;
    margin: 2px 0px;
}
.menu a{
	text-decoration:none;
	text-shadow: #decf8f 0px 0px 6px;

}

.full-text-search{
	margin: 0;
}

nav{
	background-color: #524f3c;
	background: linear-gradient(to right bottom ,#524f3c,#bbb7a4);
}

.menu a:hover{
	text-shadow:#bbb7a4 0 0 5px; 
	color: #3c3737; 
}

.clear-float{
	clear:both;
}

.content{
	padding:0 5px;
	flex: 1 0 auto;
}

p {
	font-size:14pt;
}

a:active {
	color: #675c5c;
}

footer{
	background-color: #e4d6ba;
	margin: 0;
	padding: 10px;
	flex: 0 0 auto;
	
}

.page-footer__container{
	color: #5a5130;
	margin: 10px;
	font-size: 16px;
}

/* Map */
ul.map-point-types {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
	background: linear-gradient(to left,#b7b3a0 60%,#e6e2cf);
}

.map-point-types li {
    display: inline-block;
    width: 160px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    font-size: 16pt;
    margin:5px 0;
}
.red {
	border-color: rgba(255,0,0,0.5);
}
.green {
	border-color: rgb(0,127,0);
}
.blue {
	border-color: rgb(0,0,225);
}
.gray {
	border-color: lightgray;
}


/* Old styles*/
h1, h3, h4 {
	text-align: center;
}

h4 {
	font-family: Gabriola, Calibre, serif;
	font-size: 40;
}

h1, h2 {
	font-family: Gabriola, serif;
}

h3 {
	font-weight: bold;
}

strong {
	font-size: 60;
}

table {
	border: 1px solid black;
	width: 100%;
}

th {
	height: 50px;
}



.persons, .persons td {
	border: 1px solid lightgray;
	padding: 5px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: blue;
	color: white;
	border-radius: 2px;
}