@font-face {
	font-family: Gabriola; /* ��������� ������ */
	src: url(/fonts/Gabriola.ttf); /* ���� � ����� �� ������� */
}

body {
	padding: 0px;
	background: cornsilk;
	margin: 0px;
}
a {
	color:black;
}
.search-box{
	float: right;
	display: inline-block;
	margin: 0px;
	padding: 10px;
}

.menu{
	margin: 0px;
	padding: 5px;
	float:left;
}

.menu ul{
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.menu li {
    display: inline-block;
    width: 160px;
    border: 1px solid rgb(197 164 77);
    text-align: center;
    font-size: 20pt;
}
.menu a{
	text-decoration:none;
}
.clear-float{
	clear:both;
}

.content{
	padding:0 5px;
}

p {
	font-size:14pt;
}

/* Map */
ul.map-point-types {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.map-point-types li {
    display: inline-block;
    width: 160px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    font-size: 16pt;
}
.red {
	border-color: red;
}
.green {
	border-color: green;
}
.blue {
	border-color: blue;
}
.gray {
	border-color: lightgray;
}


/* Old styles*/
h1, h3, h4 {
	text-align: center;
}

h4 {
	font-family: Gabriola, Calibre, serif;
	font-size: 40;
}

h1, h2 {
	font-family: Gabriola, serif;
}

h3 {
	font-weight: bold;
}

strong {
	font-size: 60;
}

table {
	border: 1px solid black;
	width: 100%;
}

th {
	height: 50px;
}



.persons, .persons td {
	border: 1px solid lightgray;
	padding: 5px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: blue;
	color: white;
	border-radius: 2px;
}